{% extends './index.html' %}

{% load static %}

{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>Cambio de aceite</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img class="" src="{% static '/img/yin.jpg' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Ian Yang </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="p-4">
        Tecnico automotriz
        Especialista en Aceites y Lubricantes de todo tipo de vehículos. Capaz de realizar todo tipo de labores.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>$25.000 Cambio Aceite</h3>
    </div>
  </div>
</div>

    
{% endblock %}