{% extends './index.html' %}

{% load static %}

{% block content %}

<div class="container">
  <div class="row">
       <h1>Formulario de bugias</h1>
  </div>
          <div class="text-center">
          <img class="" src="{% static '/img/esteban.jpg' %}" alt="" />
        </div>
        <br>
        <h3>Esteban Andrade </h3><h3>
            Tecnico automotriz
            Especialista en cambios de bujias y bobinado. También es capaz
             de realizar la mayoria de trabajos que hacen sus compañeros.</h3>
             <br>
           <h3>$40.000
            Cambio Bujias 
            </h3>
    
{% endblock %}