{% load static %}

        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 pt-5 ">
                        <h3 class="colores1">
                            
                            Contactos
                        </h3>
                        <div class="text-center">
                            <dl class="colores1">
                                <h4 style="font-size: 18px;">+569 73578983</h4>
                                <section class="main align-items-stretch">
                                    <div class="main-sup d-flex flex-column justify-content-center align-items-center">
                                        <h1>Taller Rayo Makween</h1>
                                        <h2>♦ Taller mecánico especializado ♦</h2>
                                        <h3>♠ Avda. Evergreen Terrace #742 ♠</h3>
                                        <h3>• Santiago, Chile •</h3>
                                    </div>
                                    <div class="main-inf d-flex justify-content-center align-items-center">
                                        <img class="main-inf-img img-fluid smaller-logo" src="{% static '/img/logo.png' %}" alt="" />

                                    </div>
                                </section>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
  