{% extends './index.html' %}

{% load static %}

{% block content %}


    <div class="container">
       <div class="row">
            <h1>Formulario de Contacto</h1>
       </div>

        <div class="row">
            <form method="post" action="{% url 'contact' %}" class="contact-form">
            {% csrf_token %}
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name.label_tag }}
                        </div>
                        <div class="col-md-6">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email.label_tag }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.message.label_tag }}
                        </div>
                        <div class="col-md-6">
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <button type="submit" class="submit-button">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
       
      
    </div>
          
{% endblock %}