{% extends './index.html' %}

{% load static %}

{% block content %}
          <div class="text-center">
          <img class="" src="{% static '/img/pastillame.jpg' %}" width="500px"/>
        </div>
        <br>
        <h3>Antonio Quiroz </h3> <h3>
            Técnico Automotriz
            Especialista en sistemas de frenos, ejes de dirección. También encargado de revisiones completas.</h3>
             <br>
           <h3>$140.000
            Cambio Pastillas
            </h3>
    
{% endblock %}

    
    
    
    
    
    