.navbar {
    background-color: #f8f8f8;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #555;
  }
  